.cart {
    background-color: rgb(233, 14, 14);
    position: fixed;
    top: 0;
    height: 100%;
    width: 300px;
    z-index: 1010;
    opacity: 0.9;
    right: 0;
    float: right;
    display: none;
}

.basket {
    cursor: pointer;
}