.rounded {
    padding-bottom: 0.5em;
}

body {
    background-color: #3abed9;

    padding-top: 50px
}

.card:hover {
    background-color: #ADD8E6;

}

.textBlock {
    height: 8rem
}

button {
    height: 6rem
}